# S.2 // Conditions, Control Flow & Looping

### Conditional

In [1]:
### Conditional ###
# python mendukung logical conditions yang biasa dipakai dalam matematika:
# Equals: a == b
# Not Equals a != b
# Less than: a < b
# Greater than: a > b
# Greater than or equal to: a >= b
# These conditions can be used in several ways, most commonly in "if statement" and loops.
## Sebuah "if statement" ditulis dengan menggunakan if keyword.
## Dalam program Python, if statement adalah bagaimana kalian melakukan decision-making. If Statement memungkinkan eksekusi kondisional dari pernyataan atau kelompok pernyataan berdasarkan nilai ekspresi.

### Introduction to the if Statement

In [4]:
# if <expr>:
#    <statement>
    
x = 0
y = 5
if x < y:       #Truthy
    print('yes')

if y < x:       #Falsy
    print('yes')

if x:           #Falsy
    print('yes')

if y:           #Truthy
    print('yes')
    
if 'aul' in 'grault':    #Truthy
    print('yes')
    
if 'quux' in ['foo', 'bar', 'baz']:     #Falsy
    print('yes')

yes
yes
yes

### Grouping Statements: Indentation and Blocks

In [5]:
# if <expr>:
#     <statement>
#     <statement>
#     ...
#     <statement>
#   <following_statement>

In [6]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
    
print('After conditional')

After conditional

In [7]:
# Does line execute?
#                                          Yes    No
if 'foo' in ['foo', 'bar', 'baz']:       #  x     
    print('Outer condition is true')     #  x
    
    if 10 > 20:                          #  x
        print('Inner condition 1')       #        x
    
    print('Between inner condition')     #  x
    
    if 10 < 20:                          #  x
        print('Inner condition 2')       #  x
    
    print('End of outer condition')      #  x
print('After outer condition')           #  x

Outer condition is true
Between inner condition
Inner condition 2
End of outer condition
After outer condition

## The else and elif Clauses

In [ ]:
# if <expr>:
#     <statement(s)>
# else:
#     <statement(s)>

In [8]:
x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [9]:
x = 120

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [10]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
else:
    print("uang tidak cukup")

uang tidak cukup

In [11]:
name = 'Hacktiv8'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

Hello Hacktiv8

In [12]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

## One-Line if Statement

In [13]:
# if <expr>:
#     <statement>

In [14]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [15]:
if 'z' in 'foo': print('1'); print('2'); print('3')

In [19]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

In [21]:
x = 3

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

In [22]:
x = 3

if x == 1: 
    print('foo') 
    print('bar') 
    print('baz')
elif x == 2: 
    print('qux')
    print('quux')
else: 
    print('corge')
    print('grault')

corge
grault

## Conditional Expressions (Python's Ternary Operator)

In [23]:
# <expr1> if <conditional expr> else <expr2>

In [24]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [25]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [26]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [27]:
'yes' if ('qux' in ['foo', 'bar', 'bazz']) else 'no'

'no'

In [29]:
# if a > b:
#    m = a
# else:
#    m = b

## The Python pass Statement

In [30]:
if True:
    print('foo')

foo

In [31]:
File "foo.py", line 3
print('foo')

SyntaxError: invalid syntax (2349386758.py, line 1)

In [1]:
if True:
    pass
print('foo')

foo

## Python "while" Loops

In [2]:
# while <expr>:
#     <statement(s)>

In [4]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [5]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

## The Python break and continue Statements

In [6]:
# while <expr>
#     <statement>
#     <statement>
#      break
#     <statement>
#     <statement>
#      continue
#     <statement>
#     <statement>

# <statement>

In [8]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break  # Break Statement
    print(n)
print('Loop ended.')

4
3
Loop ended

## The else Clause

In [9]:
# while <expr>:
#     <statement(s)>
# else:
#     <additional_statement(s)>

In [11]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [12]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

## Infinite Loops

In [14]:
# while True:
#     print('foo')

## Nested while Loops

In [23]:
# struktur kontrol Python dapat di-nest satu sama lain. Misalnya if/elif/else.

age = 20
gender = 'F'

if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

mother

In [24]:
# loop while dapat dimuat dalam loop while lainnya, seperti berikut ini:

a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [25]:
## Break atau continue statement yang ditemukan dalam nested loop berlaku untuk loop terdekat:

# while <expr1>:
#    statement
#    statement
    
#    while <expr2>:
#        statement
#        statement
#        break  # Applies to while <expr2>: loop
        
#    break  # Applies to while <expr1>: loop

In [26]:
## Selain itu, while loop dapat ditempatkan di dalam pernyataan if/elif/else, dan sebaliknya:

# if <expr>:
#     statement
#     while <expr>:
#         statement
#         statement
# else:
#     while <expr>:
#         statement
#         statement
#     statement
# while <expr>:
#     if <expr>:
#         statement
#     elif <expr>:
#         statement
#     else:
#         statement

#     if <expr>:
#         statement

## One-Line while Loops

In [27]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

## A Survey of Definite Iteration in Programming

In [3]:
# Numeric Range Loop
# for i = 1 to 10
#    <loop body>

In [6]:
# Three-Expression Loop
# for (i = 1; i <= 10; i++)
#    <loop body>

In [ ]:
# Collection-Based or Iterator-Based Loop
# for i in <collection>
     <loop body>

## The Python for Loop

In [7]:
# Python hanya mengimplementasikan iterasi terakhir: collection-based.

# for <var> in <iterable>
#    <statement(s)>

# <iterable> adalah kumpulan objek -- misalnya, list atau tuple. <statement(s)> di badan loop dilambangkan dengan indentasi, seperti dengan semua struktur kontrol Python, dan dieksekusi sekali untuk setiap item di <iterable>. Varibel loop <var> mengambil nilai elemen berikutnya di <iterable> setiap kali melalui loop.

In [8]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [9]:
d = {'foo': 1, 'bar':2, 'baz':3}
for k in d:
    print(k)

foo
bar
baz

In [11]:
for k in d:
    print(d[k])

1
2
3

In [12]:
for k in d.values():
    print(k)

1
2
3

In [13]:
for k, v in d.items():
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

# Iterating Through a Dictionary

In [15]:
# untuk mengakses nilai dictionary dalam loop, menggunakan kunci sebagai berikut:
# for k in d:
#    print(k)

In [16]:
# dapat beriterasi melalui nilai dictionary secara langsung dengan menggunakan .values()
# for v in d.values():
#    print(v)

# The range() Function

In [20]:
for n in (0, 1, 2, 3, 4):
    print(n)

0
1
2
3
4

# Altering for Loop Behavior

### The break and continue Statements

In [21]:
# break menghentikan loop sepenuhnya dan melanjutkan ke pernyataan pertama setelah loop:

In [22]:
# contoh break
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [23]:
# continue menghentikan iterasi saat ini dan melanjutkan ke iterasi berikutnya:

In [24]:
# contoh continue
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

### The else Clause

In [25]:
# Klause else akan dijalankan jika loop berakhir karena iterable habis:

for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')  # will execute

foo
bar
baz
qux
Done.

In [1]:
# Klause else tidak akan dijalankan jika list berhenti dengan pernyataan break:

for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')  #will not execute

foo

In [2]:
# Contoh penggunaan:

In [4]:
temp = input("Ketikan termperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 /9))
else: 
    print("Masukan input yang benar")
    
print("Temperaturnya adalah", result, "derajat")

Ketikan termperatur yang ingin dikonversi, eg. 45F, 120C: 45C
Temperaturnya adalah 113 derajat

In [6]:
while True:
    msg = input("Ketikan karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

Ketikan karakter: INES
ines
Ketikan karakter: STOP
stop